.stars-container {
  ul > li {
    display: inline-block;
    padding: 0.25rem 0.85rem;
    border-radius: 34px;
    margin-right: 1rem;
    border: 1px solid #cfcfcf;
    color: #00765f;
    cursor: pointer;
    span:last-child {
      margin-left: 0.75rem;
      font-weight: bolder;
      font-size: 18px;
      font-family: "Lato";
    }
    &.active,
    &:hover {
      color: #ffffff;
      border: 1px solid #00765f;
      background-color: #00765f;
    }
  }

  .table-container {
    max-height: calc(100vh - 300px);
    overflow-y: auto;
  }
}
