.content-container {
  height: calc(100vh - 48px);
  position: relative;
  .left-sidebar-container {
    width: 4%;
    max-width: 4%;
    padding: 0;
    background-color: #ffffff;
    box-shadow: 0px 0px 6px #232931;
    // position: absolute;
    height: calc(100vh - 48px);
    &:hover {
      width: 240px;
      z-index: 99;
    }
  }

  .right-body-container {
    width: 94%;
    max-width: 100%;
    position: relative;
    padding: 1rem;
  }
  .app-filters-container {
    padding: 1.75rem !important;
    li {
      &:first-child {
        margin-left: 0;
      }
      cursor: pointer;
      border: 1px solid #e6e9eb;
      transition: all 0.3s ease;
      letter-spacing: 0.5px;
      border-radius: 8px;

      box-shadow: 0px 9px 20px rgba(46, 35, 94, 0.07);
      background: #ffffff;
      margin-left: 1.75rem;
      > a {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem 0.85rem;
        border-radius: 8px;
        color: #000000;
        img {
          margin-left: 1.5rem;
        }
        &.active,
        &:hover {
          color: #00765f;
          border: 1px solid #00765f;
          border-color: #00765f;
        }
      }
    }

    .c3crm-filter::before {
      font-size: 1.75rem;
      cursor: pointer;
      color: #00765f;
    }
  }
}
